.tcCard {
    width: 250px;
    height: 250px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
}

.tcCard_north {

    pointer-events: none;
    position: absolute;
    top: 10px;
}

.tcCard_south {
    position: absolute;
    bottom: 10px;
    pointer-events: none;
}

.tcCard_east {
    position: absolute;
    right: 10px;
    pointer-events: none;
}

.tcCard_west {
    position: absolute;
    left: 10px;
    pointer-events: none;
}

.tcCard_highlighted {
    background-color: black;
    color: white;
}

.tcCard_center {
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100px;
    overflow: visible;
    display: flex;  
    align-items: center;
    justify-content: center;
}
.tcCard_center_text {
    color: white;
    display: flex;  
    align-items: center;
    justify-content: center;
    z-index: 1;
    pointer-events: none;
}

.svg1 {
    z-index: 0;
    fill-rule:evenodd;
    clip-rule:evenodd;
    stroke-linejoin:round;
    stroke-miterlimit:2;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

#visiblePath {
    opacity: 1;
    fill: rgb(17, 0, 255);
    transition: fill 0.3s ease;
}

.tcCard_center_dragging #visiblePath {
    fill: red;
    stroke-linejoin: round;
    opacity: 1;
}

.testClippath {
    background-color: lightblue;
    height: 100px;
    width: 100px;
    display: block;
}

#circlePath, #pointedPath {
    opacity: 0;
    fill: blue;
    stroke: blue;
    stroke-width: 2px;
    stroke-linejoin: round;
}