.tcCard {
    width: 250px;
    height: 250px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;  
    width: 250px;
    height: 250px;
    
}

.tcCard_inlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 0;
    filter: contrast(200%) brightness(100%);
    background: radial-gradient(circle at 50% 50%, rgba(255,255,255,0), rgba(119,118,118,.5)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.26' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.tcCard_number {
    padding: 5px;
    line-height: 16px;
    font-size: 12px;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    position: absolute;
}

.tcCard_north {
    top: 10px;
}

.tcCard_south {
    bottom: 10px;
}

.tcCard_east {
    right: 10px;
}

.tcCard_west {
    left: 10px;
}

.tcCard_highlighted {
    background-color: black;
    color: white;
    border-radius: 50%;
}

.tcCard_center {
    touch-action: none;
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100px;
    overflow: visible;
    display: flex;  
    align-items: center;
    justify-content: center;
}
.tcCard_center_text {
    color: white;
    display: flex;  
    align-items: center;
    justify-content: center;
    z-index: 1;
    pointer-events: none;
}

.svg1 {
    z-index: 0;
    fill-rule:evenodd;
    clip-rule:evenodd;
    stroke-linejoin:round;
    stroke-miterlimit:2;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    
}

#visiblePath {
    opacity: 1;
    transition: fill 0.3s ease;
}

.svg1 path {
    fill: #222;
}

.tcCard_center_dragging .svg1 path {
    fill: black;
}


#circlePath, #pointedPath {
    opacity: 0;
    fill: blue;
    stroke: blue;
    stroke-width: 2px;
    stroke-linejoin: round;
}